@use '../util' as *;

h1,
h2,
h3 {
  color: var(--white);
  margin-top: 0;
  line-height: 1.1;
}

a,
a:visited,
a:active {
  text-decoration: none; // removes blue line from a elements
  color: rgb(182, 182, 255);
}
